@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & display=swap');

:root{
    --color-1: #fff;
    --color-2: #4f86c6;
    --color-3: #414141;
    --color-4: #343434;
    --color-5: #e2f89c;
}

.img_logo_header{
    width: 45px;
}

.header,
.navigation_header{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

body{
    margin: 0px;
    align-items: center;
    background-image: linear-gradient(to bottom, #f7f7f7 ,#adf5ff  );
    background-attachment: fixed;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}

.header{
    background-color: var(--color-2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
}

.contentmain{
    transition: 1s;
}

.navigation_header a{
    text-decoration: none;
    color: var(--color-5);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover{
    color: var(--color-1);
}

.active{
    background: var(--color-3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

h2{
    color: #000;
    margin-bottom: 2.5rem;    
}

.content{ 
    padding: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
}    
* {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto','Times New Roman', Times, serif;
}

main{
    background-color: #faf8f6;
    margin-bottom: 0%;
    border-radius: 10px;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0xp 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    
}

p {
    margin: 2%;
    padding: 0;
    line-height: 1.6;
    text-indent: 2em;
    text-align: justify;
}

img{
    margin-bottom: 5px;
    width: 100%;
    display: block;
    
}


figcaption {
    display: flex;
    justify-content:center;
}

ol{
    margin-bottom: 15px;
}

ol, ul{

    margin-left: 2rem;
}

a:hover{
    color:black;
}

iframe{
    margin-bottom: 10px;
    width: 100%;
}

footer{
    font-family: 'Inter',sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-4);
}

#footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-2);
  
}

#footer_contacts h1 {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

#footer_social{
    display: flex;
    gap: 2rem;  
    margin-top: 1.5rem;
}

#footer_social .footer_link {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: center;
    text-decoration: none;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-1);
    border-radius: 50%;
    transition: all 0.4s;

}

.contact {
    text-decoration: none;
    width: 100%;
    max-width: 900px;
    justify-content: flex-start;
    margin-left: 30px;
    padding: 20px;
}

#instagram {
    background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}

#facebook {
    background:#4267b3;
}

#whatsapp{
    background: #25d366;
}

#envelope {
    background: rgb(115, 248, 144);
}

#footer_social .footer_link i{
    font-size: 1.5rem;
}

#footer_social .footer_link:hover{
    opacity: 0.8;
}

.form-contact {
    margin-bottom: 20px;
}

.inputs-contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.input-caixa-contact {
    margin-bottom: 20px;
}

.input-caixa-contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-caixa-contact input,
.input-caixa-contact textarea,
.input-caixa-contact select {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--color-4);
    border-radius: 4px;
    height: 40px;
}

fieldset{
    border: none;
}

.input-caixa-contact textarea {
    resize: vertical;
    min-height: 150px;
}

.input-caixa-contact p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
   
}

.enviar_contact {
    padding: 0 0 50px;
}

.enviar_contact button {
    padding: 10px 20px;
    background-color: var(--color-deepNavyBlue);
    color: var(--color-1);
    background-color: var(--color-2);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 768px){
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-2);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }

    .contact {
        margin-left: 0;
        padding: 10px;
    }

    .input-caixa-contact input,
    .input-caixa-contact textarea,
    .input-caixa-contact select {
    width: 70%;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
    
